---
layout: default
featured:
 - icon: fab fa-pagelines
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio assumenda possimus et, natus tempore, explicabo perferendis illo repudiandae, beatae quis voluptatum blanditiis vel laboriosam? Aut, iusto? Unde debitis tempora repellendus.
 - icon: fab fa-pagelines
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque dolorum esse fugit sed, minus laborum. Voluptatem ut, sapiente pariatur laboriosam nisi assumenda tempora quae consequatur, maiores, aut debitis? Possimus, cum?
 - icon: fab fa-pagelines
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore modi ipsam ipsa labore repudiandae odio quia facere sed assumenda, voluptatem beatae ea aliquid placeat accusantium eum est fugiat libero ullam?
 - icon: fab fa-pagelines
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, dolor doloremque? Accusamus dolores illo aspernatur autem, ex suscipit eveniet natus voluptas possimus vel quidem optio placeat et officia laborum ea?
---

<!--- HEADER -->
    <header class="grid text-center tall-100 md-tall-80">
       
        {% include header-nav.html %}

        <div class=col-12>
            <h3 class="bold editable">
                <span class="featured-text"> sleep </span> like a puppy
            </h3>
            <h1 class="font-weight-light editable">
                the ultimate mattress solution
            </h1>
        </div>

    </header>
    
<!--- FEATURES--->
    <section class="grid">

        <div class="padded col-6_xs-12-middle">
            <h2 class=editable>
                built to last a <span class="featured-text"> lifetime </span>
            </h2>
            <pclass=editable> Lorem ipsum dolor sit amet consectetur adipisicing elit. Non magnam quisquam dolore quo esse vitae, adipisci qui porro pariatur itaque ab officia ducimus eius laborum consequatur eveniet! Illum, cumque. Quas.<p></p>
            <pclass=editable> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam inventore ab optio, reiciendis consequatur aut. Quae ea officia numquam assumenda et sunt laborum quam. Assumenda libero ad eligendi numquam cum!<p></p>
        </pclass=editable></pclass=editable></div>

        <div class="bg-image bg-bed col-6_xs-12 tall-70"> </div>

        <div class="bg-image bg-pug col-6_xs-12 tall-70 hide-xs"> </div>

        <div class="padded col-6_xs-12-middle">
            <h2> so <span class="featured-text"> soft </span> you'll melt </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa nobis ipsam. Rem labore fuga provident ullam error deserunt maxime atque, tempore, aliquam illo recusandae unde corporis vero earum odit?</p>
        </div>

    </section>

<!--- ICON GRID --->

    <section class="padded grid bg-dark">

        <div class="padded-sm col-12 text-center">
            <h2> <span class="featured-text"> features </span> you will love </h2>
        </div>
        
        {% for item in page.featured %}
        <div class="padded-sm col-3_sm-6 xxs-stack">  
            <i class="{{item.icon}}"></i>
            <p> {{item.description}} </p>
        </div>
        
        {% endfor %}
    </section>

<!--- BANNER -->

    <section class="padded text-center bg-pillow tall-70 grid bg-image">

        <div class="col-12-middle">
            <h3 class="big-text"> 
                <span class="small-text font-weight-normal"> never underestimate the power of </span> 
                <br /> a good night's <span class="white-text"> sleep </span> 
            </h3>
        </div>

    </section>

<!--- TESTIMONIALS -->

    <section class="padded-lg grid text-right">

        <div class="col-1">
            <span class="quote-icon">“</span>
        </div>

        <div class="col-10 text-center">
            <p class="medium-text font-weight-light"> I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of my family </p>
            <p class="subtitle"> A very happy customer </p>
        </div>

        <div class="col-1">  
            <span class="quote-icon"> ” </span>
        </div>

    </section>
